<p>
Plans & Pricing

Choose a plan that suits for your business

Plan Duration
1 Year
Select Device
Desktop + Mobile
Silver Plan
₹ 2799.00
1 YEAR
DESKTOP + MOBILE
₹ 4199
Buy Silver
Sync data across devices
Create multiple companies
(3 companies)
Generate E-way Bills
(10 per month)
Add TCS on invoices
Keep different rates for each party
Create Multiple Firms
(3 firms)
Check Profit on Invoices
Balance Sheet
Restore deleted transactions
+ 15 More Features
Gold Plan
₹ 3499.00
1 YEAR
DESKTOP + MOBILE
₹ 6499
Buy Gold
Sync data across devices
Create multiple companies
(unlimited)
Generate E-way Bills
(unlimited)
Add TCS on invoices
Keep different rates for each party
Create Multiple Firms
(5 firms)
Check Profit on Invoices
Balance Sheet
Restore deleted transactions
+ 15 More Features
Compare Silver & Gold Plan</p>