<p>Doctors are medical professionals. They are qualified and trained health care professionals who
     diagnose and treat various health conditions in human beings. There are various branches of 
     medicine. Doctors specialize in studying and treating diseases of the different parts of the body.
      For example, cardiologists, ophthalmologists, dentists, neurologists and dermatologists are 
      specialists in treating diseases of specific parts of the human body.

</p>

<div class="image">
    <img src="https://cdn5.vectorstock.com/i/1000x1000/97/79/medical-app-healthcare-service-landing-web-page-vector-30249779.jpg" alt="">
</div>